body{
    background-color: rgb(153, 54, 54);
    text-align: center;
    color: antiquewhite;
    margin: 0em;
}
.guide{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    font-family: 'Unica One', cursive; 
    font-size: 25px;
    border: sandybrown;
  }
  
h1{
    font-family: 'Comfortaa', cursive;
    font-size: 65px;    
}
h2{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: seagreen;
    background-color: antiquewhite;
}
h3{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-style: italic;
}


.content{
    font-family: 'Comfortaa', cursive;
    border-width:10px;  
    border-style:groove;
    border-color: seagreen;
    height: auto;
}

#addy{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}